# Python バイトコード
__pycache__/
*.py[cod]
*$py.class

# 仮想環境
venv/
.env/

# データベース
db.sqlite3

# Django マイグレーションファイル（必要に応じて管理対象にする場合は除外しない）
# complete_colonel/migrations/

# VSCode 設定ファイル
.vscode/

# OS 固有ファイル
.DS_Store
Thumbs.db

# mypy キャッシュ
.mypy_cache/

# Pytest キャッシュ
.pytest_cache/

# coverage レポート
htmlcov/
.coverage
